html,
body {
    text-align: center !important;
    align-items: center !important;
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: rgb(241, 93, 39) !important;
}